@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}

/**
 * Custom CSS
 */
@font-face {
  font-family: 'FK Grotesk Neu';
  src: url('./assets/fonts/FKGroteskNeue-Regular.woff2') format('woff2'),
    url('./assets/fonts/FKGroteskNeue-Regular.woff') format('woff');
  font-weight: 100 400;
  font-style: normal;
}

@font-face {
  font-family: 'FK Grotesk Neu';
  src: url('./assets/fonts/FKGroteskNeue-Medium.woff2') format('woff2'),
    url('./assets/fonts/FKGroteskNeu-Medium.woff') format('woff');

  font-weight: 500 600;
  font-style: normal;
}

@font-face {
  font-family: 'FK Grotesk Neu';
  src: url('./assets/fonts/FKGroteskNeue-Bold.woff2') format('woff2'),
    url('./assets/fonts/FKGroteskNeue-Bold.woff') format('woff');
  font-weight: 700 800;
  font-style: normal;
  font-display: swap;
}
